doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Strangetaalk.com - About
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=League+Gothic&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Kalam&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/about.css')
nav
  img(src='/static/img/pngegg.png' alt='@')
  h1.h1  Strange
  h2.h2 Taalk
  .btn
    a(href='/') Quit
.container
  .icon
    img(src='/static/img/pngegg.png' alt='')
  .logo
    div
      h1.head1 Strange
    div
      h1.head2 Taalk
  .sloagn POWERED BY DNINE.COM
  .sloagnlogo
    a(href='https://dnine-darsh09com.netlify.app/' target='_blank')
      img(src='./static/img/D9-logo.png' alt='')
.info
  .hed
    .heading PLATFORM WHICH PROVIDE FREEDOM TO TALK
  .pa
    .paragarph
      | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat aperiam sequi
      | dolorum asperiores dolore incidunt fugiat quam aliquid eos velit similique cumque, nostrum quasi aliquam
      | dolorem ipsam itaque, pariatur exercitationem amet possimus! Doloremque!
