doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title StrangeTaalk - Chat
  // <script src="client.js"></script>
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap', rel='stylesheet')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&display=swap', rel='stylesheet')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap', rel='stylesheet')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=League+Gothic&display=swap', rel='stylesheet')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap', rel='stylesheet')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Kalam&display=swap', rel='stylesheet')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap', rel='stylesheet')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='./static/chat.css')
  script(defer='', src='http://localhost:8000/socket.io/socket.io.js')
  script(defer='', src='./static/chat.js')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap', rel='stylesheet')
nav
  img(src='../static/img/pngegg.png', alt='@')
  h1.h1  Strange
  h2.h2 Taalk
  .btn
    a(href='/') Quit
.container
  //
    <div class="message left">he:hello bhai</div>
    <div class="message right">me:hello bhai</div>
.send
  form#send-container(action='#')
    input#messageinp(type='text', name='messageinp')
    button.btn2 Send
